<p>
  <b>Nome:</b>
  <%=h @equipamento.nome %>
</p>

<p>
  <b>Lancamento:</b>
  <%=h @equipamento.lancamento %>
</p>

<p>
  <b>Formato:</b>
  <%=h @equipamento.formato %>
</p>

<p>
  <b>Largura:</b>
  <%=h @equipamento.largura %>
</p>

<p>
  <b>Altura:</b>
  <%=h @equipamento.altura %>
</p>

<p>
  <b>Profundidade:</b>
  <%=h @equipamento.profundidade %>
</p>

<p>
  <b>Consumo:</b>
  <%=h @equipamento.consumo %>
</p>

<p>
  <b>Btu:</b>
  <%=h @equipamento.btu %>
</p>

<p>
  <b>Peso:</b>
  <%=h @equipamento.peso %>
</p>

<p>
  <b>Ru:</b>
  <%=h @equipamento.ru %>
</p>

<p>
  <b>Oem:</b>
  <%=h @equipamento.oem_id %>
</p>

<p>
  <b>Oem:</b>
  <%=h @equipamento.oem %>
</p>

<p>
  <b>Segmento:</b>
  <%=h @equipamento.segmento_id %>
</p>

<p>
  <b>Familia:</b>
  <%=h @equipamento.familia_id %>
</p>

<p>
  <b>Fabricante:</b>
  <%=h @equipamento.fabricante_id %>
</p>


<%= link_to 'Edit', edit_equipamento_path(@equipamento) %> |
<%= link_to 'Back', equipamentos_path %>