<p>
  <b>Nome:</b>
  <%=h @fabricante.nome %>
</p>

<p>
  <b>Site:</b>
  <%=h @fabricante.site %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @fabricante.descricao %>
</p>


<%= link_to 'Edit', edit_fabricante_path(@fabricante) %> |
<%= link_to 'Back', fabricantes_path %>